#nav{
    background-color: rgba(0, 128, 128, 0.822);
  }
  #items{
    margin-left: 60%; 
  }
  .navbar-brand{
    margin-left: 1%;
    margin-right: 5%;
  } 
  .ico{
    margin-right: 3%;
  }
  .nav-link{
    font-weight: 500;
  }