<div *ngIf="profile.length>0">
  <div *ngFor="let profile of profile">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="container shadow p-3 mb-5 bg-white rounded form-card">
        <div class="card card-title ">
          <div class="card-body">
            <div class="col-md-5">
              <img src="" class="rounded-circle"
                style="height: 6em;width: 6em;" alt="...">
            </div>
            <div class="col-md-7">
              <h6>name:{{profile.name}}</h6>
              <h6>email:{{profile.email}}</h6>
              <h6>user:{{profile.user}}</h6>
              <h6>hood:{{profile.neighborhood}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<p>Update profile</p>
<form #updateProfile="ngForm" (ngSubmit)="updateProf(updateProfile.value.id,updateProfile.value)" method="POST">
  <input type="number" name="id" ngModel placeholder="id"><br>
  <input type="text" name="name" ngModel placeholder="name"><br>
  <input type="file" name="profile_pic" ngModel><br>
  <input type="text" name="email" ngModel placeholder="email"><br>
  <input type="text" name="user" ngModel placeholder="user"><br>
  <input type="text" name="neighborhood" ngModel placeholder="neighborhood"><br>

  <button type="submit">updateProfile</button>
</form>
