<section class="cards">
  <article class="card card--1">
    <div class="card__info-hover">
    </div>
    <div class="card__img"></div>
    <a href="#" class="card_link">
       <div class="card__img--hover"></div>
     </a>
    <div class="card__info">
      <span class="card__category"> Neighbourhood1</span>
      <h3 class="card__title">Join west neighbourhood</h3>
      <span class="card__by">by <a href="#" class="card__author" title="author"></a></span>
    </div>
  </article>
    
    
  <article class="card card--2">
    <div class="card__info-hover">
    </div>
    <div class="card__img"></div>
    <a href="#" class="card_link">
       <div class="card__img--hover"></div>
     </a>
    <div class="card__info">
      <span class="card__category"> Neighbourhood2</span>
      <h3 class="card__title">Discover the northrift estate</h3>
      <span class="card__by">by <a href="#" class="card__author" title="author"></a></span>
    </div>
  </article>  
    
    
    
    </section>